%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

body,
#root,
.App {
    margin: 0;
    width: 100%;
}

#root {
    display: flex;
    position: relative;
}

.App {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

button, a {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: relative;

    &:focus {
        opacity: 1 !important;
    }

    &:focus::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 0 5px 2px coral;
    }
}

#intro {
    $additional-height: 5rem;

    @extend %flex-center;
    position: relative;
    height: calc(100 * var(--vh, 1vh));
    padding-bottom: $additional-height;
    background-image: url(./images/background-image.jpg);
    background-position: center calc(50%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Kanit', sans-serif;
    flex-direction: column;

    h1 {
        font-size: 50%;
        user-select: none;
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        z-index: -100;
    }

    #hamburger-icon {
        font-size: 0.833rem;
        outline: none;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.2);
        border: 0.15em solid white;
        border-radius: 50%;
        box-shadow: 0 0 1em 0 white;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 4em;
        overflow: hidden;
        padding: 0.8em;
        position: fixed;
        top: 1rem;
        right: 1rem;
        transition-property: background-color, box-shadow;
        transition-duration: 0.25s;
        transition-timing-function: linear;
        width: 4em;
        z-index: 999;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 2em 0 white;
        }

        &:focus {
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 2em 5px coral;
            transition-property: background-color;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: transform 0.5s 0.4s cubic-bezier(0.6, -0.5, 0.4, 1.5);
        }

        i {
            display: block;
            position: relative;
            width: calc(100% - 1.6em);
            height: 7%;
            background-color: white;
            transition-property: transform, background-color;
            transition-duration: 0.75s;
            transition-timing-function: cubic-bezier(0.6, -0.5, 0.4, 1.5);

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: white;
                transition: inherit;
            }

            &::before {
                transform: translateY(-300%);
            }

            &::after {
                transform: translateY(300%);
            }
        }

        &.active span {
            transform: rotate(-90deg);
        }

        &.active i {
            background-color: transparent;
            transform: translateX(200%);

            &::before {
                transform: translateX(-200%) rotate(-135deg);
            }

            &::after {
                transform: translateX(-200%) rotate(135deg);
            }
        }

        b {
            position: absolute;
            font-size: 0;
        }
    }

    #blink-text {
        @keyframes blink {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        %text-shadow {
            text-shadow: black 0 0 0.15em, black 0 0 0.15em,
            black 0 0 0.15em, black 0 0 0.15em,
            black 0 0 0.15em, black 0 0 0.5em;
        }

        %underscore {
            content: '';
            position: absolute;
            bottom: 20%;
            left: 0;
            margin-left: 0.1em;
            background-color: white;
            height: 7.5%;
            width: 0.5em;
            box-shadow: black 0 0 0.15em, black 0 0 0.15em,
                black 0 0 0.15em, black 0 0 0.15em,
                black 0 0 0.15em, black 0 0 0.5em;
        }

        position: relative;
        width: 100%;
        font-size: calc(5 * var(--vmin, 1vmin));
        color: white;
        user-select: none;

        .logo-wrapper {
            position: absolute;
            border-radius: 100%;
            box-shadow: 0 0 1em 0.2em rgba(255, 255, 255, 0.5),
                inset 0 0 1em 0.1em rgba(255, 255, 255, 0.6);
            top: -5em;
            left: 0;
            margin: 0 calc(50% - 1.75em);
            width: 3.5em;
            height: 3.5em;
        }

        &>p {
            margin: 0.5em 0;
        }

        &>p:last-of-type {
            margin-top: 1.5em;

            span {
                margin: 0 0.25em;
            }
        }

        i {
            font-style: normal;
            position: relative;
            @extend %text-shadow;

            &.hidden {
                text-shadow: none;
                color: transparent;
            }

            &:not(.hidden) + i.hidden::before {
                @extend %underscore;
           }
        }

        .underscore {
            position: relative;

            &::before {
                @extend %underscore;
                margin-left: 0.5em;
                opacity: 0;
            }

            &:not(.hidden)::before {
                animation: blink 0.75s ease-in 2;
            }
        }

        .status {
            @extend %text-shadow;
            display: inline-block;
            margin: 0 0.25em;
            border: 0.1em solid;
            border-radius: 0.25em;
            padding: 0 0.5em;
            box-sizing: border-box;
            min-height: 1.5em;
            line-height: 1.2em;
            max-width: 80vw;
            color: white;
            box-shadow: 0 0 0.3em -0.05em white,
                inset 0 0 0.2em -0.05em black;
            transition: opacity 0.5s ease-in-out 1.6s;

            &.available {
                background-color: rgba(0, 128, 0, 0.26);
                border-color: green;
                text-decoration: none;
                transition: opacity 0.5s ease-in-out 1.6s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;

                &:hover {
                    border-color: #24ab24;
                    background-color: #24ab2442;
                    box-shadow: 0 0 0.5em -0.05em white,
                        inset 0 0 0.2em -0.05em black;
                }
            }

            &.busy {
                background-color: rgba(241, 32, 32, 0.26);
                border-color: rgb(195, 0, 0);
            }

            &.hidden {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    #menu {
        @extend %flex-center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-bottom: calc(100vh - 100 * var(--vh, 1vh));
        box-sizing: border-box;
        max-height: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.85);
        transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
        overflow: hidden;
        visibility: hidden;

        &.visible {
            max-height: 100vh;
            visibility: visible;
        }

        .nav-item {
            @extend %flex-center;
            background-color: rgb(44, 44, 44);
            border-top: 0.15em solid gray;
            color: gray;
            font-size: 2em;
            height: 15%;
            max-width: 400px;
            min-height: 50px;
            text-decoration: none;
            width: 100%;
            transition: all 0.25s linear;

            &:last-of-type {
                border-bottom: 0.15em solid gray;
            }

            &::before {
                box-shadow: inset 0 0 5px 2px coral;
            }

            &:hover,
            &:focus {
                color: white;
                text-shadow: white 0 0 0.5em;
            }
        }
    }

    @keyframes jump {
        from {
            transform: translateY(-25%);
        }
        to {
            transform: translateY(0);
        }
    }

    .arrow {
        transform: translateY(-25%);
        background-image: url(./images/arrow.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        font-size: 1em;
        width: 25vmin;
        max-width: 8em;
        height: 3em;
        border: none;
        position: absolute;
        bottom: calc(5rem + 4 * var(--vmin, 1vmin));
        opacity: 0.5;
        outline: none;
        transition: opacity 0.25s ease-in-out;
        animation: jump 0.5s cubic-bezier(0.5, 0.05, 0.66, 0.58) 5.5s 7 alternate forwards;

        &:hover {
            opacity: 1;
        }

        span {
            font-size: 0;
        }
    }

    @media screen and (min-width: 750px) {
        #hamburger-icon {
            top: 2rem;
            right: 2rem;
        }
    }

    @media screen and (min-width: 1200px) {
        #menu {
            max-height: 100vh;
            left: auto;
            padding-right: 50px;
            right: -250px;
            top: 0;
            width: 250px;
            box-sizing: border-box;
            transition: right 0.75s cubic-bezier(0.6, -0.5, 0.4, 1.5), visibility 0.75s;

            &.visible {
                right: -50px;
            }

            .nav-item {
                box-sizing: border-box;
                background: none;
                border: none !important;
                font-size: 1.7em;
                height: auto;
                margin-bottom: 1em;
                border-radius: 0.2em;
                width: 95%;
            }
        }
    }

    @media screen and (max-width: 750px) {
        font-size: 75%;

        @media screen and (min-aspect-ratio: 15/11), screen and (max-aspect-ratio: 15/19) {
            #blink-text {
                font-size: calc(8 * var(--vmin, 1vmin));
            }
        }

        @media screen and (min-aspect-ratio: 1/2) {
            #blink-text {
                position: unset;

                .logo-wrapper {
                    left: 1rem;
                    top: 1rem;
                    margin: 0;
                    font-size: 0.833rem;
                    width: unset;
                    height: unset;
                    border-radius: 0;
                    box-shadow: 0 0 1.5em 0.2em rgba(255, 255, 255, 0.5),
                            inset 0 0 2em 0.3em rgba(255, 255, 255, 0.6);

                    @media screen and (max-width: 400px) {
                        & {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 400px) {
        #hamburger-icon {
            font-size: 0.7rem;
        }
    }
}

.section-large {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1em 2em 1em grey;
    min-height: 50vh;
    padding: 5em 5% 10em 5%;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    &:last-child {
        padding-bottom: 5em;
    }

    &.section-about,
    &.section-contacts {
        background-color: whitesmoke;
    }

    &.section-projects {
        background-color: rgb(255, 250, 241);
    }

    &::before {
        content: '';
        display: block;
        border-radius: 100%;
        box-shadow: 0 -0.5em 2em -0.5em grey;
        height: 8em;
        width: 8em;
        position: absolute;
        top: -3em;
        left: calc(50% - 4em);
    }

    .section-logo {
        background-color: inherit;
        border-radius: 100%;
        height: 8em;
        left: calc(50% - 4em);
        overflow: hidden;
        position: absolute;
        top: -3em;
        transition: transform 0.5s linear;
        width: 8em;

        &.logo-about {
            border-color: rgb(118, 169, 216);
        }

        &.logo-projects {
            border-color: rgb(199, 156, 100);
        }

        &.logo-contacts {
            border-color: rgb(255, 204, 62);
        }

        &::before {
            content: '';
            box-sizing: border-box;
            border-bottom: 0.25em solid transparent;
            border-color: inherit;
            border-radius: 100%;
            display: block;
            width: inherit;
            height: inherit;
            position: absolute;
            transform: rotate(30deg);
            transition: transform 0.5s linear;
        }

        &:hover::before {
            transform: rotate(210deg);
        }

        img {
            width: 100%;
            height: 100%;
            user-select: none;
        }
    }

    .section-medium {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        &:not(:first-of-type) {
            margin-top: 3.5em;
        }
    }

    h2 {
        font: bold 2.5em 'Kanit', sans-serif;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }

    .tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        width: 95%;

        figure {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 3em 1.5em 0;
            width: calc((1000px - 9em) / 3);
            max-width: 90vw;
            font: bold 1em 'Open Sans', sans-serif;

            figcaption {
                width: 100%;
                position: relative;
                z-index: 0;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 5%;
                    width: 0;
                    height: 100%;
                    z-index: -1;
                    transition: width 0.25s ease-in-out 0.1s, transform 0.15s ease-in-out;
                    border-style: dashed;
                    border-width: 1px 0 1px 0;
                    transform: skewX(35deg);
                    background: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
                }

                &:hover::after {
                    width: 90%;
                    transform: skewX(-35deg);
                    transition: width 0.25s ease-in-out, transform 0.15s ease-in-out 0.1s;
                }

                a,
                .coming-soon {
                    display: inline-block;
                    width: 100%;
                    color: black;
                    text-decoration: none;
                    padding: 0.25em 5%;
                    box-sizing: border-box;
                    border-radius: 5em;
                }
            }

            .cert-link,
            .project-link {
                @extend %flex-center;
                background-color: white;
                border-radius: 1em;
                height: 13em;
                margin-bottom: 0.5em;
                overflow: hidden;
                position: relative;
                transition-property: box-shadow, transform;
                transition-duration: 0.25s;
                transition-timing-function: linear;
                width: 100%;
                box-shadow: 0.1em 0.1em 1em -0.3em rgba(0, 0, 0, 0.5);

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    transition: opacity 0.25s linear;
                }

                &:hover {
                    box-shadow: 0.5em 0.5em 1em 0 rgba(0, 0, 0, 0.5);
                    transform: scale(1.1) translateY(-5%);

                    &::after {
                        opacity: 0;
                    }

                    img {
                        transform: scale(1.1);
                        transition: transform 2.5s 0.25s linear;
                    }
                }

                img {
                    height: 100%;
                    user-select: none;
                    transition: transform 0.25s linear;
                }
            }

            .cert-link {
                & + figcaption::after {
                    border-color: gray;
                }

                &::after {
                    opacity: 0.05;
                }
            }

            .project-link {
                & + figcaption::after {
                    border-color: #bf8a40;
                }

                &::after {
                    opacity: 0.1;
                }
            }

            .coming-soon {
                cursor: help;
            }
        }
    }

    .skills {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        padding: 0 1.5em;
        text-align: center;
        box-sizing: border-box;

        header {
            font: bold 1.5em 'Kanit', sans-serif;
            margin-bottom: 0.5em;
        }

        img {
            height: 8.5em;
            margin-bottom: 1em;
            user-select: none;
        }

        p {
            font-style: italic;
            color: dimgray;
            max-width: 300px;
        }

        &:last-child {
            width: 100%;
            max-width: 100%;

            img {
                height: unset;
                max-height: 14em;
                max-width: 90vw;
            }
        }
    }

    .btn-email {
        @extend %flex-center;
        border: 4px solid rgb(255, 204, 62);
        border-radius: 3em;
        color: black;
        height: 50px;
        margin: 50px 0;
        text-decoration: none;
        transition: all 0.25s ease-in-out;
        width: 150px;
        box-sizing: border-box;

        &:hover {
            background-color: rgb(255, 204, 62);
            border-color: black;
            box-shadow: 0 0 3em -0.2em rgb(255, 204, 62);
            font-size: 1.3em;
            font-weight: bold;
            width: 200px;
        }

        &::before {
            box-shadow: inset 0 0 5px coral, 0 0 5px 2px coral;
        }

        &::after {
            content: '';
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: inherit;
            display: block;
            height: inherit;
            position: absolute;
            width: inherit;
        }
    }

    .copy-to-clipboard {
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-radius: 2em;
        font-weight: bold;
        font-size: 1em;
        position: relative;
        display: inline-flex;
        justify-content: center;
        width: fit-content;
        margin: 0 0.25em;
        padding: 0 0.2em;
        box-sizing: content-box;

        &:hover {
            background-color: rgba(255, 204, 62, 0.5);
            box-shadow: 0 0 1em 0 rgb(255, 204, 62);
        }

        &::after {
            padding: 0 0.5em;
            border-radius: inherit;
            color: transparent;
            content: 'Successfully copied!';
            position: absolute;
            top: 0;
            width: 100%;
            width: fit-content;
        }

        &.success::after {
            background-color: rgba(255, 204, 62, 0.5);
            box-shadow: 0 0 1em 0 rgb(255, 204, 62);
            color: black;
            opacity: 0;
            transform: translateY(-2.5em);
            transition: all 0.5s ease-in-out,
                opacity 0.25s 1.25s ease-in-out;
        }
    }

    .alt-cnt-wrp {
        @extend %flex-center;
        margin-top: 3em;
        max-width: 700px;

        .alt-cnt {
            margin-left: 2em;

            a {
                display: block;
                color: black;
                text-decoration: none;
                border-radius: 1em;

                &:hover {
                    background-color: rgba(255, 204, 62, 0.5);
                    box-shadow: 0 0 3em -0.2em rgb(255, 204, 62);
                    font-weight: bold;
                }
            }

            p {
                align-items: center;
                display: flex;
                width: 9.5em;

                img {
                    height: 2em;
                    margin-right: 1em;
                    user-select: none;
                }
            }
        }
    }

    @media screen and (max-width: 750px) {
        .copy-to-clipboard {
            display: flex;
            margin: 0.5em auto;
            padding: 0 1em;
            width: 12em;

            &.success::after {
                transform: translateY(-4em);
            }
        }

        .alt-cnt-wrp {
            flex-direction: column;

            .alt-cnt {
                margin-left: 1.25em;
            }
        }
    }

    @media screen and (max-width: 400px) {
        font-size: 0.75em;

        .tiles figure {
            max-width: 70vw;
        }

        figcaption,
        p,
        .btn-email {
            font-size: 100% * 100 / 75;
        }
    }
}

.footer {
    @extend %flex-center;
    flex-direction: column;
    position: relative;
    background-color: rgb(211, 234, 255);
    box-shadow: 0 0 2em 0 rgb(164, 201, 235);
    font-family: 'Kanit', sans-serif;
    padding: 0 5%;

    .logo-wrapper {
        border-radius: 100%;
        box-shadow: 0 0 0.5em 0.3em rgb(211, 234, 255),
            0 0 0 0.1em rgb(164, 201, 235),
            inset 0 0 10em 1em rgb(211, 234, 255);
        margin-top: -25px;
    }
}

.error-boundary-page {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @media screen and (max-width: 400px) {
        & {
            font-size: 85%;
        }
    }

    .btn {
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        position: relative;
        height: 40px;
        line-height: 0;
        border-radius: 20px;
        background-color: #87cefa;
        color: #fff;
        font-weight: 700;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        text-shadow: 0 0 1px #000, 0 0 1px #000;
        outline: none;
        background-repeat: no-repeat;
        background-position: 50%;
        justify-content: center;
        text-decoration: none;
        font-size: 0.8em;
        cursor: pointer;
        padding: 0 1em;
        margin: 0.5em auto;
        border: 1px solid #076cab;

        &:active {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.23);
            transform: scale(0.97) translateY(1px);
        }

        &.btn-send-report {
            font-size: 120%;
        }
    }

    header {
        font-family: 'Kanit', sans-serif;
        font-size: 1.3em;
        position: absolute;
        top: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13em 0 9em;

        .summary {
            position: relative;
            font-size: 1em;
            height: 1.5em;
            background: none;
            border: none;
            border-bottom: 1px dashed gray;
            color: gray;
            font-style: italic;
        }
    }

    .bug-info-wrapper {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 250px;
        padding: 0 1em;
        box-sizing: border-box;
        border-radius: 1em;
        overflow: hidden;
        background-color: #fefcfa;
        box-shadow: inset 0 0 6px grey;
        visibility: hidden;
        max-height: 0;
        margin: 0;
        transition: 0.25s ease-in-out;
        width: 85%;
        max-width: unset;
        margin: 1em 0;

        &.visible {
            max-height: 15em;
            overflow: auto;
            visibility: visible;
        }

        #bug-info {
            width: 100%;
            font-size: 85%;
            text-align: left;
            word-break: break-all;

            &>div {
                margin: 1em 0;
            }

            li {
                margin: 0.5em 0;
            }
        }

        .copy-panel {
            background-color: #d3eaff8a;
            position: sticky;
            bottom: 0;
            margin: 0 -1em;
            width: calc(100% + 2em);
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: inherit;
        }

        .btn {
            &::after {
                content: "Successfully copied!";
                position: absolute;
                top: -1.5em;
                margin: auto;
                white-space: nowrap;
                color: transparent;
                text-shadow: none;
                box-shadow: 0 0 5px transparent;
                padding: 0.3em 1em;
                border-radius: 5em;
                z-index: -1;
                visibility: hidden;
                height: 1em;
                line-height: 0.85em;
            }

            &.success::after {
                visibility: visible;
                color: inherit;
                text-shadow: inherit;
                background-color: #076cabe6;
                box-shadow: 0 0 5px 2px #076cabe6;
                opacity: 0;
                transform: translateY(-1.75em);
                transition: all 0.5s, opacity 0.25s 1s;
                transition-timing-function: ease-in-out;
            }
        }
    }

    .send-report-notes {
        font-size: 85%;
        font-style: italic;
        color: gray;
        max-width: 13em;
        line-height: 1.5em;
        margin-bottom: 0;
    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;

        .contacts {
            display: flex;
            background-color: white;
            border-radius: 10em;
            width: 14em;
            justify-content: space-between;
            padding: 0 0.5em;
            margin: 1em;
            box-shadow: 0 0 0.5em 0.5em white;

            a {
                font-size: 0;
                border-radius: 100%;
            }
        }

        span {
            margin-bottom: 0.5em;
        }
    }
}
